In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../test_data/new_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-08-20 22:49:29.530212: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-20 22:49:29.988826: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-20 22:49:29.992103: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-20 22:49:31.812634: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 760 non-null    object
 1   date                 760 non-null    datetime64[ns]
 2   color_and_value      760 non-null    object
 3   name_code            760 non-null    int64
 4   day_of_month         760 non-null    int32
 5   day_of_week          760 non-null    int32
 6   date_code            760 non-null    int64
 7   day_of_year          760 non-null    int64
 8   value                760 non-null    float64
 9   color                760 non-null    object
 10  extra                760 non-null    float64
 11  color_code           760 non-null    int64
 12  next_color_code      758 non-null    float64
 13  previous_color_code  758 non-null    float64
 14  color_binary         760 non-null    int64
 15  next_color_binary    758 non-null    float64
 16  color_group          760 non-null    int64
 17  next_color_group     758 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(6), object(3)
memory usage: 101.1+ KB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary,color_group,next_color_group
0,CJ1,2024-12-09 00:00:00.000,0.42857 | FF0000 | 184733,1,9,0,0,344,0.42857,FF0000,184733.0,0,2.0,NaN,1,0.0,1,6.0
1,CJ2,2024-12-09 00:00:00.000,0.0 | FF9900 | 1224919,2,9,0,0,344,0.00000,FF9900,1224919.0,1,3.0,NaN,0,1.0,5,2.0
2,CJ1,2024-12-12 00:00:00.000,0.28571 | D5A6BD | 167139,1,12,3,1,347,0.28571,D5A6BD,167139.0,2,1.0,0.0,0,0.0,6,5.0
3,CJ2,2024-12-12 00:00:00.000,-0.1429 | 00FF00 | 1091707,2,12,3,1,347,-0.14290,00FF00,1091707.0,3,1.0,1.0,1,0.0,2,5.0
4,CJ1,2024-12-13 00:00:00.000,0.28571 | FF9900 | 138497,1,13,4,2,348,0.28571,FF9900,138497.0,1,0.0,2.0,0,1.0,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,CJ2,2024-05-29 00:00:00.100,11.7143 | FFFF00 | 1117856,2,29,2,377,150,11.71430,FFFF00,1117856.0,4,1.0,0.0,1,0.0,3,5.0
756,CJ1,2024-05-30 00:00:00.100,15.5714 | 00FF00 | 61845,1,30,3,378,151,15.57140,00FF00,61845.0,3,4.0,3.0,1,1.0,2,3.0
757,CJ2,2024-05-30 00:00:00.100,11.5714 | FF9900 | 1280565,2,30,3,378,151,11.57140,FF9900,1280565.0,1,3.0,4.0,0,1.0,5,2.0
758,CJ1,2024-05-31 00:00:00.100,15.5714 | FFFF00 | 58560,1,31,4,379,152,15.57140,FFFF00,58560.0,4,NaN,3.0,1,NaN,3,NaN
759,CJ2,2024-05-31 00:00:00.100,11.4286 | 00FF00 | 1296267,2,31,4,379,152,11.42860,00FF00,1296267.0,3,NaN,1.0,1,NaN,2,NaN

In [2]:
coded_df[['name_code', 'color_group','next_color_group' ]]

     name_code  color_group  next_color_group
0            1            1               6.0
1            2            5               2.0
2            1            6               5.0
3            2            2               5.0
4            1            5               1.0
..         ...          ...               ...
755          2            3               5.0
756          1            2               3.0
757          2            5               2.0
758          1            3               NaN
759          2            2               NaN

[760 rows x 3 columns]

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((756, 8), (756,))

In [4]:


model.fit(X, y)

Epoch 1/50
24/24 [==============================] - 2s 7ms/step - loss: 2.5569 - accuracy: 0.1574
Epoch 2/50
24/24 [==============================] - 0s 6ms/step - loss: 2.3543 - accuracy: 0.1799
Epoch 3/50
24/24 [==============================] - 0s 6ms/step - loss: 2.2603 - accuracy: 0.1825
Epoch 4/50
24/24 [==============================] - 0s 6ms/step - loss: 2.1531 - accuracy: 0.1786
Epoch 5/50
24/24 [==============================] - 0s 5ms/step - loss: 2.1272 - accuracy: 0.1944
Epoch 6/50
24/24 [==============================] - 0s 4ms/step - loss: 1.9928 - accuracy: 0.2037
Epoch 7/50
24/24 [==============================] - 0s 4ms/step - loss: 1.9969 - accuracy: 0.2196
Epoch 8/50
24/24 [==============================] - 0s 4ms/step - loss: 1.9364 - accuracy: 0.2302
Epoch 9/50
24/24 [==============================] - 0s 4ms/step - loss: 1.9229 - accuracy: 0.2526
Epoch 10/50
24/24 [==============================] - 0s 5ms/step - loss: 1.8987 - accuracy: 0.2354
Epoch 11/50
24/24 [==============================] - 0s 6ms/step - loss: 1.8767 - accuracy: 0.2381
Epoch 12/50
24/24 [==============================] - 0s 5ms/step - loss: 1.8531 - accuracy: 0.2368
Epoch 13/50
24/24 [==============================] - 0s 4ms/step - loss: 1.8146 - accuracy: 0.2712
Epoch 14/50
24/24 [==============================] - 0s 4ms/step - loss: 1.8143 - accuracy: 0.2698
Epoch 15/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7774 - accuracy: 0.2712
Epoch 16/50
24/24 [==============================] - 0s 8ms/step - loss: 1.7895 - accuracy: 0.2659
Epoch 17/50
24/24 [==============================] - 0s 6ms/step - loss: 1.8364 - accuracy: 0.2685
Epoch 18/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7664 - accuracy: 0.2884
Epoch 19/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7716 - accuracy: 0.2751
Epoch 20/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7726 - accuracy: 0.2712
Epoch 21/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7529 - accuracy: 0.2751
Epoch 22/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7572 - accuracy: 0.2712
Epoch 23/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7293 - accuracy: 0.2897
Epoch 24/50
24/24 [==============================] - 0s 5ms/step - loss: 1.7366 - accuracy: 0.3241
Epoch 25/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7420 - accuracy: 0.2963
Epoch 26/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7401 - accuracy: 0.2791
Epoch 27/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7007 - accuracy: 0.3108
Epoch 28/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7229 - accuracy: 0.2751
Epoch 29/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7096 - accuracy: 0.2976
Epoch 30/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7122 - accuracy: 0.2897
Epoch 31/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7058 - accuracy: 0.3095
Epoch 32/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6963 - accuracy: 0.2791
Epoch 33/50
24/24 [==============================] - 0s 4ms/step - loss: 1.7058 - accuracy: 0.2698
Epoch 34/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6886 - accuracy: 0.3095
Epoch 35/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6995 - accuracy: 0.2963
Epoch 36/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6958 - accuracy: 0.3003
Epoch 37/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6818 - accuracy: 0.3095
Epoch 38/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6889 - accuracy: 0.2738
Epoch 39/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6730 - accuracy: 0.2817
Epoch 40/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6843 - accuracy: 0.3095
Epoch 41/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6774 - accuracy: 0.3188
Epoch 42/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6591 - accuracy: 0.3333
Epoch 43/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6684 - accuracy: 0.3042
Epoch 44/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6852 - accuracy: 0.2791
Epoch 45/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6755 - accuracy: 0.3016
Epoch 46/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6500 - accuracy: 0.3069
Epoch 47/50
24/24 [==============================] - 0s 5ms/step - loss: 1.6592 - accuracy: 0.3188
Epoch 48/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6703 - accuracy: 0.3135
Epoch 49/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6732 - accuracy: 0.3148
Epoch 50/50
24/24 [==============================] - 0s 4ms/step - loss: 1.6408 - accuracy: 0.3399
24/24 [==============================] - 0s 2ms/step

array([[0.3766307 , 0.09857634, 0.1613834 , 0.08653679, 0.19751431,
        0.07935844],
       [0.2455939 , 0.24156806, 0.16524178, 0.06566028, 0.11237129,
        0.1695646 ],
       [0.38358134, 0.13129327, 0.139785  , 0.06054384, 0.1431487 ,
        0.1416478 ],
       ...,
       [0.14835542, 0.1411318 , 0.14974028, 0.06838887, 0.1768283 ,
        0.31555536],
       [0.14727943, 0.17547065, 0.21591945, 0.09256202, 0.10532746,
        0.26344103],
       [0.12515202, 0.21903694, 0.13587205, 0.10261723, 0.14641301,
        0.2709087 ]], dtype=float32)

In [5]:
model.predict_last()

1/1 [==============================] - 0s 20ms/step
[[0.19384986 0.17636535 0.1598718  0.08696146 0.10579903 0.2771525 ]
 [0.18831648 0.17243695 0.13948506 0.07463398 0.15977088 0.26535666]]

,NAME,2024-05-31 00:00:00.1,color_and_value,next_color_code
0,CJ1,15.5714 | FFFF00 | 58560,15.5714 | FFFF00 | 58560,6.0
1,CJ2,11.4286 | 00FF00 | 1296267,11.4286 | 00FF00 | 1296267,6.0