In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../test_data/new_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-08-15 00:55:02.701382: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-15 00:55:02.750043: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-15 00:55:02.750935: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-15 00:55:04.125523: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

((2, 381), (2, 381))
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 760 non-null    object
 1   date                 760 non-null    int64
 2   color_and_value      760 non-null    object
 3   name_code            760 non-null    int64
 4   day_of_month         760 non-null    int32
 5   day_of_week          760 non-null    int32
 6   date_code            760 non-null    int64
 7   day_of_year          760 non-null    int64
 8   value                760 non-null    float64
 9   color                760 non-null    object
 10  extra                760 non-null    float64
 11  color_code           760 non-null    int64
 12  next_color_code      758 non-null    float64
 13  previous_color_code  758 non-null    float64
 14  color_binary         760 non-null    int64
 15  next_color_binary    758 non-null    float64
 16  color_group          760 non-null    int64
 17  next_color_group     758 non-null    float64
dtypes: float64(6), int32(2), int64(7), object(3)
memory usage: 101.1+ KB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary,color_group,next_color_group
0,CJ1,1733702400000000000,0.42857 | FF0000 | 184733,1,9,0,0,344,0.42857,FF0000,184733.0,0,2.0,NaN,1,0.0,3,2.0
1,CJ2,1733702400000000000,0.0 | FF9900 | 1224919,2,9,0,0,344,0.00000,FF9900,1224919.0,1,3.0,NaN,0,1.0,2,1.0
2,CJ1,1733961600000000000,0.28571 | D5A6BD | 167139,1,12,3,1,347,0.28571,D5A6BD,167139.0,2,1.0,0.0,0,0.0,2,2.0
3,CJ2,1733961600000000000,-0.1429 | 00FF00 | 1091707,2,12,3,1,347,-0.14290,00FF00,1091707.0,3,1.0,1.0,1,0.0,1,2.0
4,CJ1,1734048000000000000,0.28571 | FF9900 | 138497,1,13,4,2,348,0.28571,FF9900,138497.0,1,0.0,2.0,0,1.0,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,CJ2,1716940800100000000,11.7143 | FFFF00 | 1117856,2,29,2,377,150,11.71430,FFFF00,1117856.0,4,1.0,0.0,1,0.0,1,2.0
756,CJ1,1717027200100000000,15.5714 | 00FF00 | 61845,1,30,3,378,151,15.57140,00FF00,61845.0,3,4.0,3.0,1,1.0,1,1.0
757,CJ2,1717027200100000000,11.5714 | FF9900 | 1280565,2,30,3,378,151,11.57140,FF9900,1280565.0,1,3.0,4.0,0,1.0,2,1.0
758,CJ1,1717113600100000000,15.5714 | FFFF00 | 58560,1,31,4,379,152,15.57140,FFFF00,58560.0,4,NaN,3.0,1,NaN,1,NaN
759,CJ2,1717113600100000000,11.4286 | 00FF00 | 1296267,2,31,4,379,152,11.42860,00FF00,1296267.0,3,NaN,1.0,1,NaN,1,NaN

In [2]:
coded_df[['name_code', 'color_group','next_color_group' ]]

     name_code  color_group  next_color_group
0            1            3               2.0
1            2            2               1.0
2            1            2               2.0
3            2            1               2.0
4            1            2               3.0
..         ...          ...               ...
755          2            1               2.0
756          1            1               1.0
757          2            2               1.0
758          1            1               NaN
759          2            1               NaN

[760 rows x 3 columns]

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

X

array([[ 1.000000e+00,  1.000000e+00,  3.470000e+02, ...,  2.000000e+00,
         2.857100e-01,  1.671390e+05],
       [ 1.000000e+00,  2.000000e+00,  3.470000e+02, ...,  3.000000e+00,
        -1.429000e-01,  1.091707e+06],
       [ 2.000000e+00,  1.000000e+00,  3.480000e+02, ...,  1.000000e+00,
         2.857100e-01,  1.384970e+05],
       ...,
       [ 3.770000e+02,  2.000000e+00,  1.500000e+02, ...,  4.000000e+00,
         1.171430e+01,  1.117856e+06],
       [ 3.780000e+02,  1.000000e+00,  1.510000e+02, ...,  3.000000e+00,
         1.557140e+01,  6.184500e+04],
       [ 3.780000e+02,  2.000000e+00,  1.510000e+02, ...,  1.000000e+00,
         1.157140e+01,  1.280565e+06]])

In [4]:

X_test , y_test , predictions = model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )




# print(f'preferred_accuracy: {model.preferred_accuracy}' )

# print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


# prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

# print(f'real prob: {prob}' )

Epoch 1/4
19/19 [==============================] - 1s 4ms/step - loss: 33324.8555 - accuracy: 0.5646
Epoch 2/4
19/19 [==============================] - 0s 4ms/step - loss: 27102.5234 - accuracy: 0.5497
Epoch 3/4
19/19 [==============================] - 0s 6ms/step - loss: 16563.5078 - accuracy: 0.5166
Epoch 4/4
19/19 [==============================] - 0s 4ms/step - loss: 14884.0117 - accuracy: 0.5232
5/5 [==============================] - 0s 1ms/step
Epoch 1/4
5/5 [==============================] - 0s 4ms/step - loss: 10987.3379 - accuracy: 0.5395
Epoch 2/4
5/5 [==============================] - 0s 5ms/step - loss: 17024.2871 - accuracy: 0.5658
Epoch 3/4
5/5 [==============================] - 0s 4ms/step - loss: 10394.4277 - accuracy: 0.5000
Epoch 4/4
5/5 [==============================] - 0s 4ms/step - loss: 9526.9590 - accuracy: 0.5724
mse : 0.6907894736842105
accuracy: 0.3092105263157895

In [19]:
_list_predictions_cj1 = []
_list_y_cj1 = []
for i in range(len(X_test)):
    if(X_test[i,1] == 1):
        _list_y_cj1.append(y_test[i])
        _list_predictions_cj1.append(predictions[i,0])

print("CJ1 predictions:")     
print(", ".join(map(str, _list_predictions_cj1)))
print("CJ1 y:")     
print(", ".join(map(str, _list_y_cj1)))
y[-10:]

CJ1 predictions:
0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7.5874946e-36, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0
CJ1 y:
1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0

array([1., 0., 0., 1., 1., 1., 1., 0., 1., 1.])

In [ ]:

df =model.predict_last()
df

In [ ]:
print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]
df.sort_values(by='next_color_code', ascending=False)[:40]

In [ ]:
model.save()

In [ ]:
tf = TensorFlowModel()

In [ ]:
tf.load()

In [ ]:
coded_tf = tf.process_excel(path)
print(coded_tf.info())
coded_tf

In [ ]:
# Splitting the dataset into the Training set and Test set
X, y= tf.train_test_split(coded_df)

X.shape , y.shape

In [ ]:
tf.fit(X, y)

print(f'mse : {tf.mse}' )
print(f'accuracy: {tf.accuracy}' )
print(f'preferred_accuracy: {tf.preferred_accuracy}' )

print(f'predictions_count: {tf.predictions_count}   in {tf.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

In [ ]:

df =tf.predict_last()
df